*{
    font-family: 'Quicksand', sans-serif;
    top: 0;
    margin: 0;
}

/* --------top address bar starts-------------------------------  */

.container{
    width: 100%;
    /* border: 2px solid red; */
    background-color: lightblue;
    display: flex;
    justify-content: right;
}
.topbar{
    /* border: 2px solid black; */
    width: 50%;
    display:flex;
    justify-content: right;
    padding-right: 20px;
}
.address-bar{
    padding: 5px;
}
.address-bar i{
    font-style: normal;
    padding: 20px;
}
.contact-buttons {
    top: 5px;
    position: relative;
    padding: 0 10px 0 10px;
}
.contact-buttons i{
    padding: 0px 10px 0px 10px;
    border-radius: 50px;
    background-color: white;
    height: 20px;
    cursor: pointer;
}
.contact-buttons i:hover{
    background-color: lightgrey;
}
.fa-facebook{
    color:  #0000ff;
}
.fa-twitter{
    color: #0080ff;
}
.fa-linkedin{
    color:  #0000cc;
}


/* ----------top address bar ends-------------------------------  */



/* -----------menu bar starts----------------  */

.navigation{
    border: 2px solid red;
    margin-bottom: 15px;
    top: 10px;
    margin-top: 10px;
}
nav{
    width: 100%;
    /* border: 1px solid red; */
}
.navbar{
    /* position: relative; */
}
.navbar ul{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    
}
.navbar ul h1{
    font-size: 30px;
}
.navbar ul li{
    /* border: 1px solid red; */
    padding: 0px 10px 0 10px;
    

}
.navbar ul li::after{
    content: '';
    width: 0%;
    height: 3px;
    background-color: red;
    display: block;
    margin: auto;
    transition: .3s;
}
.navbar ul li:hover::after{
    width: 100%;
}
.navbar ul a{
    color: black;
    
    text-decoration: none;
}
.navbar ul input{
    width: 20%;
    border: 2px solid black;
    border-radius: 40px;
    padding: 3px;
    text-align: center;
}

/* -----------menu bar ends----------------  */



/* --------------slide starts---------------  */

  
/* --------------slide ends---------------  */